{% extends 'about_kali/base.html' %}
{% load static %}

{% block title %}
    download
{% endblock %}


{% block main %}
<br>
<br>
<h1>Get Kali</h1>
<div class="download_content">
   
    <img class='dragon' src="{% static 'about_kali/kali-dragon-icon.svg' %}" alt="kali-dragon">
    <h2 style="text-align: center;"> You can install kali by choosing the method and downloading by going to the following link on the official website <br><br><br>
        <a class='get_kali' href="https://www.kali.org/get-kali/">Get-kali linux</a>
    </h2>
</div>


{% endblock %}
